*{
    margin: 0;
    padding: 0;
}

body{
    background: #f1f1f1;
}
[v-cloak]{display:none}
/*请登录*/
#mark_login_well{
    background: #f1f1f1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999      ;
}
.please_login_page{
    color: #999999;
    width: 50%;
    margin: 35% auto;
    text-align: center;
    font-size: 0.36rem;
}
.please_login_page>img{
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;
}
.to_login_btn{
    margin-top: 0.3rem;
    font-size: 0.45rem;
    height: 1.1rem;
    line-height: 1.1rem;
    width: 3.8rem;
    color: #06c1ae;
    border: 1px solid #06c1ae;
    border-radius: 5px;
}


/*订单*/
.bot_order{
    top: 0;
    width: 100%;
    height: 1.4rem;
    border-bottom: 1px solid #d6d6d6;
    position: fixed;
    background: #fff;
}
.order_tit{
    text-indent: 30px;
    line-height: 1.4rem;
    font-size: .5rem;
    color: #565656;
}
main{
    margin-top: 1.4rem;
}
.our_order_tit{
    display: flex;
    height: 1.4rem;
    padding: .1rem .3rem;
    line-height: 1.2rem;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.our_order_tit1{
    width: 50%;
    font-size: .45rem;
    color: #333;
    font-weight: bold;
}
.our_order_tit2{
    width: 50%;
    text-align: right;
    font-size: .36rem;
}
.order_check{
    background: #fff;
    display: flex;
    text-align: center;
    font-size: .36rem;
    padding-bottom: .1rem;
}
.order_check_box{
    width: 25%;
}
.order_check_box span:nth-child(1){
    display: block;
    padding: .15rem;
}
.near_order_tit{
    padding: .08rem .3rem;
    font-size: .4rem;
}
.near_order_list{
    background: #fff;
    border-bottom: 1px solid #ccc;
    font-size: .36rem;
}
/*.near_order_con{*/
    /*height: 2.9rem;*/
/*}*/

.not_more,.look_more{
    background: #fff;
    line-height: 1.25rem;
    font-size: .38rem;
    color: #999;
    text-align: center;
}
.look_more{
    color: #06c1ae;
}
.our_collection{
    margin-top: .3rem;
}
/*.collection_order_con{*/
    /*height: 2.9rem;*/
/*}*/






.m-back-to-top {
    display: none;
    position: fixed;
    bottom: 2.2rem;
    right: .7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 1rem;
    background-image: url(../../public/images/Top-0.png);
    background-size: 1rem 1rem;
    z-index: 666;
    cursor: pointer;
}
a:link,a:hover{
    text-decoration: none;
}
a:active,a:visited{
    text-decoration: none;
    color: #ccc;
}
/*底部五个按钮部*/
.fooder{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 1.4rem;
    background: #fff;
}
.fooder a{
    display: block;
    height: .46rem;
    padding-top: 10px;
    width:20%;
    float: left;
    color: rgba(9,9,9,.8);
    text-align: center;
    background: #fff;
    border-top: 0.01rem solid rgba(222,222,222,.9);
}
.fooder a i{
    display: block;
    font-size: .5rem;
    text-align: center;
}
.fooder a span{
    display: block;
    padding-top: 3px;
    font-size: .36rem;
    text-align: center;
}
.fooder .foodercolor{
    color: #3fe0cf;
}