* {
    margin: 0;
    padding: 0;
}

body{
    background: #f0f0f0;
}

/*ktv_head顶部*/
#ktv_head {
    height: 1.3rem;
    background: #f9f9f9;
    line-height: 1.3rem;
    text-align: center;
}

.border-bottom-shadow {
    border-bottom: 1px solid #dedede;
    box-shadow: 0px 1px 0px #b3b3b3;
}
.ktv_head_content > input {
    background: #e6e7e8;
    border-radius: 50px;
    height: 0.8rem;
    font-size: 0.3rem;
    text-align: center;
    border: none;
    margin-top: 0.25rem;
}
/*ktv_footer*/
#ktv_footer{
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    height: 1.28rem;
}
.ktv_footer_content{
    width: 70%;
    line-height: 1.28rem;
    margin: 0 auto;
    /*background: #000;*/
}
.ktv_footer_content>p{
    float: left;
    width: 33%;
    text-align: center;
}




/*ktv_top*/
#ktv_top{
    background: #fff;
}
/*.ktv_top_hot img{*/
    /*width: 50%;*/
/*}*/
#ktv_top>div{
    border-left: #e5e5e5 1px solid;
}

#ktv_top>div:nth-child(1){
    border: none;
}

/*ktv_top_nav*/
#ktv_top_nav{
    font-size: 0.3rem;
    text-align: center;
    background: #fff;

    padding: 0.2rem 0;
    line-height: 0.64rem;
}
#ktv_top_nav>div{
    padding: 0;
}
#ktv_top_nav>div>div{
    border-right: 1px solid #e5e5e5;
}
#ktv_top_nav>div:nth-child(3)>div{
    border: none;
}

/*ktv_main*/
#ktv_main{
    margin-bottom: 2rem;

}
.ktv_main{
    background: #fff;
    height: 7.5rem;
    margin-top: 0.3rem;
}
.ktv_main_title{
    padding: 0.3rem 0;
    height: 2.4rem;
    border-bottom: 1px solid #e5e5e5;
}
.ktv_main_title_left{
    height: 1.8rem;
    padding: 0 0.3rem;
    float: left;
    width: 27%;
}
.ktv_main_title_left img{
    width: 100%;
}
.ktv_main_title_right{
    width: 73%;
    float: left;
}
.ktv_main_title p{
    font-size: 0.32rem;
}
.ktv_main_title a{
    display: block;
    float: right;
    color: #999;
    font-weight: lighter;
}
.ktv_main_star{
    color:#ff9d09;
}
.price{
    color: #06c1ae;
}
.ktv_main_list{
    padding: 0.4rem 0 0 0.4rem;
    border-bottom: 1px solid #e5e5e5;
    height: 1.9rem;
}
.ktv_main_list>div {
    float: left;
}
.ktv_main_list_left{
    width: 27%;

}
.ktv_main_list_right{
    width: 73%;

}
.ding:after{
    content: '订';
    height: 0.4rem;
    line-height: 0.4rem;
    background: #f5736f;
    color: #fff;
    font-size: 0.26rem;
    padding: 8px;
    border-radius: 5px;
}
.tuan:after{
    content: '团';
    height: 0.4rem;
    line-height: 0.4rem;
    background: #40bea8;
    color: #fff;
    font-size: 0.26rem;
    padding: 8px;
    border-radius: 5px;
}
.price_div{
    line-height: 0.5rem;
    height: 0.5rem;
}
.price_div P{
    text-indent: 10px;
    float: left;
}
.price_span{
    font-size: 0.45rem;
}
.ktv_main_list_right>p{
    font-size: 0.3rem;
}
.ktv_main_list_right>h6{
    font-size: 0.26rem;
    color: #999;
    line-height: 0.6rem;
}
.ktv_main_end{
    line-height: 1.2rem;
    font-size: 0.4rem;
    color: #666;
}
.ktv_main_end span{
    font-size: 0.4rem;
}
