*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
a:link,a:visited,a:hover,a:active{
    text-decoration:none;
}
html{
    font-size:100px;
}
[v-cloak]{display:none}
@media screen and (min-width:768px) {
    html {
        font-size: 200px;
    }
}
@media screen and (min-width:992px) {
    html {
        font-size: 300px;
    }
    .float2{
        height: 0.4rem;
    }
    #myDetails .float2>div{
        height: 0.4rem;
        line-height: 0.4rem;
    }

}
.body{
    background: #faf8f8;
}
/*头部*/
.addressheader{
    width: 100%;
    background: #faf8f8;
    position: relative;
    margin-bottom: .10rem;
}
.addressheader i{
    padding-left: 0.15rem;
    font-size: 0.24rem;
    font-weight: bolder;
    color: rgba(9,9,9,.5);
    line-height: 0.50rem;
}

.address_user{
    display: inline-block;
    font-size: 0.16rem;
    color: rgba(9,9,9,.8);
    position: fixed;
    top: 0.15rem;
    left: 0.60rem;
}
.keep{
    display: inline-block;
    font-size: 0.16rem;
    color: rgba(9,9,9,1);
    position: fixed;
    top: 0.15rem;
    right: 0.25rem;
}
/*正文*/
.add{
    background: #fff;
    border-bottom: 0.01rem solid #ccc;
}
.form{
    margin-left: 0.12rem;
    border-bottom: 0.02rem solid rgba(9,9,9,.1);
}
.form span{
    font-size: 0.16rem;
    color: rgba(9,9,9,.6);
    line-height: 0.50rem;
}
.user{
    width: 70%;
    font-size: 0.16rem;
    color: rgba(9,9,9,.3);
    line-height: 0.50rem;
    border: none;
    margin-left: .15rem;
    outline: 0;
}
.default{
    padding: 0.18rem 0.18rem;
}
.default span{
    font-size: 0.16rem;
    color: rgba(9,9,9,.8);
}
.default .checkbox{
    width: 0.18rem;
    height: 0.18rem;
    display: inline-block;
}