<!DOCTYPE html>
<html lang="en" style="font-size: 100px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>足疗/按摩</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/foot_massage.css">
    <link rel="stylesheet" href="../../public/css/iconfont.css">
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/vue.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">

    <div id="footPage">
        <!--foot顶部-->
        <div id="foot_head" class="row border-bottom-shadow">
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 foot_head-left">
                <span class="iconfont icon-zuobian" onclick="window.history.go(-1)"></span>
            </div>
            <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 foot_head_content">
                <input type="text" class="form-control" placeholder="输入商家、分类或商圈">
            </div>
            <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 foot_head-right">
                <span class="iconfont icon-xiazai18"></span>
            </div>
        </div>
        <div id="foot_nav" class="row border-bottom-shadow">
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">足疗/按摩<span class="iconfont icon-xiala"></span></div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">附近<span class="iconfont icon-xiala"></span></div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">智能排序<span class="iconfont icon-xiala"></span></div>
            <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">筛选<span class="iconfont icon-xiala"></span></div>
        </div>
        <!--tip提示-->
        <div id="foot_tip" class="row">
            <div>
                <ul>
                    <li>按摩</li>
                    <li>足疗</li>
                    <li>SPA</li>
                    <li>精油</li>
                    <li>推拿</li>
                    <li>拔罐</li>
                </ul>
            </div>
        </div>
        <!--洗脚按摩主要内容-->
        <div id="foot_main" class="row">
            <!--列表详情-->
            <div class="foot_list">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom-shadow">
                    <div class="foot_main_title">
                        <div class="foot_main_title_left">
                            <img src="../../public/images/foot1.png" alt="" align="center">
                        </div>
                        <div class="foot_main_title_right">
                            <h1>
                                foot
                            </h1>
                            <p class="foot_main_star">★★★★★<span>&nbsp;3.3分</span></p>
                            <div>
                                <p class="price">
                                    24元
                                    <a>客村/赤岗 <1km</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="foot_main_list">
                        <div class="foot_main_list_left text-right">
                            <div class="price_div">
                                <p class="price price_span">￥238</p>
                                <p class="old_price">￥338</p>
                            </div>
                        </div>
                        <div class="foot_main_list_right text-left">
                            <span  class="tuan"></span>
                            <span>【限时特惠】泰式精油舒缓按摩</span>
                            <h6 class="text-left">已售381</h6>
                        </div>
                    </div>
                    <div class="foot_main_list">
                        <div class="foot_main_list_left text-right">
                            <div class="price_div">
                                <p class="price price_span ">￥85</p>
                                <p class="old_price">￥130</p>
                            </div>
                        </div>
                        <div class="foot_main_list_right text-left">
                            <span class="tuan"></span>
                            <span>豪华小房3小时49元/人，豪华中房3小时</span>
                            <h6>月售109</h6>
                        </div>
                    </div>
                    <div class="foot_main_end text-center">
                        <p>查看其他团购 <span class="iconfont icon-xiala1"></span></p>
                    </div>
                </div>
            </div>
            <div class="foot_list">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom-shadow">
                    <div class="foot_main_title">
                        <div class="foot_main_title_left">
                            <img src="../../public/images/foot1.png" alt="" align="center">
                        </div>
                        <div class="foot_main_title_right">
                            <h1>
                                foot
                            </h1>
                            <p class="foot_main_star">★★★★★<span>&nbsp;3.3分</span></p>
                            <div>
                                <p class="price">
                                    24元
                                    <a>客村/赤岗 <1km</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="foot_main_list">
                        <div class="foot_main_list_left text-right">
                            <div class="price_div">
                                <p class="price price_span">￥238</p>
                                <p class="old_price">￥338</p>
                            </div>
                        </div>
                        <div class="foot_main_list_right text-left">
                            <span  class="tuan"></span>
                            <span>【限时特惠】泰式精油舒缓按摩</span>
                            <h6 class="text-left">已售381</h6>
                        </div>
                    </div>
                    <div class="foot_main_list">
                        <div class="foot_main_list_left text-right">
                            <div class="price_div">
                                <p class="price price_span ">￥85</p>
                                <p class="old_price">￥130</p>
                            </div>
                        </div>
                        <div class="foot_main_list_right text-left">
                            <span class="tuan"></span>
                            <span>豪华小房3小时49元/人，豪华中房3小时</span>
                            <h6>月售109</h6>
                        </div>
                    </div>
                    <div class="foot_main_end text-center">
                        <p>查看其他团购 <span class="iconfont icon-xiala1"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <!--洗脚按摩底部-->
        <div id="foot_footer">
            <div class="foot_footer_content">
                <p class="iconfont icon-ego-menu"></p>
                <p class="iconfont icon-fangkuang"></p>
                <p class="iconfont icon-zuobian"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>