<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>订票详情页</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/iconfont.css">
    <link rel="stylesheet" href="../../public/css/ticket_info.css">
    <script src="../../public/js/jquery.min.js"></script>
    <script src="../../public/js/vue.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid" id="ticket_info" v-cloak>
    <!--详情页头部-->
    <div id="tk_info_head" class="row">
        <div class="tk_info_head_top col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <p class="iconfont icon-zuobian" onclick="window.history.go(-1)"></p>
            <p class="text-center">广州——深圳</p>
        </div>
        <div class="tk_info_head_time col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tk_info_head_1">前一天</div>
            <div class="tk_info_head_2">
                5月11日 明天<span class="iconfont icon-xiala1"></span>
            </div>
            <div class="tk_info_head_3">后一天</div>
        </div>
    </div>
    <!--详情页内容-->
    <div id="tk_info_main" class="row">
        <!--详情页列表-->
        <div class="tk_info_list" v-for="(item,index) in ticket_list">
            <div class="tk_info_list_top  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div>
                    <h3 style="padding-bottom: 0.1rem">{{item.startStationName}}</h3>
                    <h4 class="price">{{item.dptTime}}</h4>
                </div>
                <div style="color: #c6c6c6">
                    <h3>{{item.trainNo}}</h3>
                    <img src="../../public/images/tip.png">
                    <h3>{{long_time[index]}}</h3>
                </div>
                <div>
                    <h3 style="color: #666;padding-bottom: 0.1rem">{{item.endStationName}}</h3>
                    <h4 style="color: #333">{{item.arrTime}}</h4>
                </div>
                <div>
                    <h4 class="price" style="color: #ff9a14;font-size: 0.45rem">￥{{item.seats["无座"].price}}起</h4>
                    <h3 class="btn tk_info_go">立即抢票</h3>
                </div>
            </div>
            <p class="border_dashed  col-lg-12 col-md-12 col-sm-12 col-xs-12 "></p>
            <ul class="ticket_price col-lg-12 col-md-12 col-sm-12 col-xs-12 " v-if="start_add!='广州'">
                <li style="color: #333;font-weight: 600;font-size: 0.36rem">
                    <span>类型</span><span>价格</span><span>剩余票数</span></li>
                <li><span>商务座</span> <span>￥{{item.seats["软卧"].price}}</span><span>{{item.seats["软卧"].count}}</span>
                </li>
                <li><span>一等座</span> <span>￥{{item.seats["硬卧"].price}}</span><span>{{item.seats["硬卧"].count}}</span>
                </li>
                <li><span>二等座</span> <span>￥{{item.seats["硬座"].price}}</span><span>{{item.seats["硬座"].count}}</span>
                </li>
                <li><span>无座 </span> <span>￥{{item.seats["无座"].price}}</span><span>{{item.seats["无座"].count}}</span>
                </li>
            </ul>
            <!--<ul class="ticket_price col-lg-12 col-md-12 col-sm-12 col-xs-12 " v-else>-->
                <!--<li style="color: #333;font-weight: 600;font-size: 0.36rem">-->
                    <!--<span>类型</span><span>价格</span><span>剩余票数</span></li>-->
                <!--<li><span>商务座</span> <span>￥{{item.seats["商务座"].price}}</span><span>{{item.seats["商务座"].count}}</span>-->
                <!--</li>-->
                <!--<li><span>一等座</span> <span>￥{{item.seats["一等座"].price}}</span><span>{{item.seats["一等座"].count}}</span>-->
                <!--</li>-->
                <!--<li><span>二等座</span> <span>￥{{item.seats["二等座"].price}}</span><span>{{item.seats["二等座"].count}}</span>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li><span>无座 </span> <span>￥{{item.seats["无座"].price}}</span><span>{{item.seats["无座"].count}}</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--</ul>-->
        </div>
    </div>
    <div id="tk_info_end" class="row text-center">
        <div>
            <p class="iconfont icon-caidan11"></p>
            <p>有票优先</p>
        </div>
        <div>
            <p class="iconfont icon-shijian2"></p>
            <p>最早发车</p>
        </div>
        <div>
            <p class="iconfont icon-miaobiao1"></p>
            <p>耗时最短</p>
        </div>
        <div>
            <p class="iconfont icon-shaixuan"></p>
            <p>筛选</p>
        </div>
    </div>
</div>
</body>
<script>
    let ticket = new Vue({
        el: '#ticket_info',
        data: {
            ticket_list: [],
            go_date: new Date(),
            start_add: '',
            end_add: '',
            date: '',
            longtime:[],
            price: []
        },
        beforeMount: function () {
            let me = this;
            $.ajax({
                type: 'post',
                url: '/api/get_address',
                data: {},
                success: function (data) {
                    me.start_add = data.ticket.start_add;
                    me.end_add = data.ticket.end_add;
                    me.date = data.ticket.date;
                    $.ajax({
                        type: 'post',
                        url: 'http://route.showapi.com/832-6',
                        dataType: 'json',
                        data: {
                            "showapi_appid": '64744', //这里需要改成自己的appid
                            "showapi_sign": '4814b85c344848408044c6bf81ef221a',  //这里需要改成自己的应用的密钥secret
                            "from": me.start_add,
                            "to": me.end_add,
                            "trainDate": me.date,
                        },
                        success: function (result) {
                            me.ticket_list = result.showapi_res_body.data; //console变量在ie低版本下不能用
                        }
                    });
                }
            })
        },
        computed:{
            long_time:function(){
                for(var i=0;i<this.ticket_list.length;i++)
                {
                    this.longtime.push(((this.ticket_list[i].arrTime.split(':')[0]*1+24)-this.ticket_list[i].dptTime.split(':')[0])+'时'+(this.ticket_list[i].arrTime.split(':')[1]-this.ticket_list[i].dptTime.split(':')[1])+'分');
                }
                return this.longtime;
            }
        },

    });

    function p(s) {
        return s < 10 ? '0' + s : s;
    }
</script>
</html>